<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lockbur.trackr.test.generator.mapper.ClueContactsDao">

  <sql id="Base_Column_List">
    id, clue_id, assignee, contact_time, note, status, creator_id, create_time, update_time
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.lockbur.trackr.domain.ClueContacts">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_clue_contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from tb_clue_contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lockbur.trackr.domain.ClueContacts">
    <!--
    @mbggenerated
    -->
    insert into tb_clue_contacts (id, clue_id, assignee, 
      contact_time, note, status, 
      creator_id, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{clueId,jdbcType=INTEGER}, #{assignee,jdbcType=VARCHAR}, 
      #{contactTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{creatorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lockbur.trackr.domain.ClueContacts">
    <!--
    @mbggenerated
    -->
    insert into tb_clue_contacts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clueId != null">
        clue_id,
      </if>
      <if test="assignee != null">
        assignee,
      </if>
      <if test="contactTime != null">
        contact_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clueId != null">
        #{clueId,jdbcType=INTEGER},
      </if>
      <if test="assignee != null">
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="contactTime != null">
        #{contactTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lockbur.trackr.domain.ClueContacts">
    <!--
    @mbggenerated
    -->
    update tb_clue_contacts
    <set>
      <if test="clueId != null">
        clue_id = #{clueId,jdbcType=INTEGER},
      </if>
      <if test="assignee != null">
        assignee = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="contactTime != null">
        contact_time = #{contactTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>