<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lockbur.trackr.mapper.CodeMapper">

    <insert id="insert" parameterType="com.lockbur.trackr.domain.Code" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_code
        (
          name,system,creator_id,create_time,update_time
        )
        VALUES
        (
         #{name}, #{system},#{creatorId},now(),now()
        )
    </insert>

    <select id="findAll" resultType="com.lockbur.trackr.domain.Code">
        SELECT
            tc.id AS "id",
            tc.name AS "name",
            tc.system AS "system",
            tc.creator_id AS "creatorId",
            tc.create_time AS "createTime",
            tc.update_time AS "updateTime"
        FROM
            tb_code tc
    </select>

    <resultMap id="codeDetailsResultMap" type="com.lockbur.trackr.domain.CodeDetails">
        <id column="code.id" property="id"/>
        <result column="code.name" property="name"/>
        <result column="code.system" property="system"/>
        <result column="code.creatorId" property="creatorId"/>
        <result column="code.createTime" property="createTime"/>
        <result column="code.updateTime" property="updateTime"/>
        <collection property="values" ofType="com.lockbur.trackr.domain.CodeValue">
            <id column="value.id" property="id"/>
            <result column="value.codeId" property="codeId"/>
            <result column="value.name" property="name"/>
            <result column="value.description" property="description"/>
            <result column="value.position" property="position"/>
            <result column="value.active" property="active"/>
            <result column="value.creatorId" property="creatorId"/>
            <result column="value.createTime" property="createTime"/>
            <result column="value.updateTime" property="updateTime"/>
        </collection>
    </resultMap>

    <select id="findDetailsById" resultMap="codeDetailsResultMap">
        SELECT
            tc.id AS "code.id",
            tc.name AS "code.name",
            tc.system AS "code.system",
            tc.creator_id AS "code.creatorId",
            tc.create_time AS "code.createTime",
            tc.update_time AS "code.updateTime",

            tcv.id AS "value.id",
            tcv.code_id AS "value.codeId",
            tcv.name AS "value.name",
            tcv.description AS "value.description",
            tcv.position AS "value.position",
            tcv.active AS "value.active",
            tcv.creator_id AS "value.creatorId",
            tcv.create_time AS "value.createTime",
            tcv.update_time AS "value.updateTime"
        FROM
            tb_code tc
            LEFT JOIN tb_code_value tcv ON tc.id = tcv.code_id
        WHERE
        tc.id=#{id}
        order BY tcv.id DESC
    </select>
</mapper>