<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lockbur.trackr.mapper.CompetitorMapper">

  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, company_name, industry_id, audit_region_id, name, ipo_id, next_plan, changed, 
    status, creator_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.lockbur.trackr.domain.Competitor">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_competitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from tb_competitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lockbur.trackr.domain.Competitor">
    <!--
    @mbggenerated
    -->
    insert into tb_competitor (id, company_name, industry_id, 
      audit_region_id, name, ipo_id, 
      next_plan, changed, status, 
      creator_id, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{industryId,jdbcType=INTEGER}, 
      #{auditRegionId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ipoId,jdbcType=INTEGER}, 
      #{nextPlan,jdbcType=VARCHAR}, #{changed,jdbcType=BIT}, #{status,jdbcType=BIT}, 
      #{creatorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lockbur.trackr.domain.Competitor">
    <!--
    @mbggenerated
    -->
    insert into tb_competitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="auditRegionId != null">
        audit_region_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ipoId != null">
        ipo_id,
      </if>
      <if test="nextPlan != null">
        next_plan,
      </if>
      <if test="changed != null">
        changed,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="auditRegionId != null">
        #{auditRegionId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ipoId != null">
        #{ipoId,jdbcType=INTEGER},
      </if>
      <if test="nextPlan != null">
        #{nextPlan,jdbcType=VARCHAR},
      </if>
      <if test="changed != null">
        #{changed,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lockbur.trackr.domain.Competitor">
    <!--
    @mbggenerated
    -->
    update tb_competitor
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="auditRegionId != null">
        audit_region_id = #{auditRegionId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ipoId != null">
        ipo_id = #{ipoId,jdbcType=INTEGER},
      </if>
      <if test="nextPlan != null">
        next_plan = #{nextPlan,jdbcType=VARCHAR},
      </if>
      <if test="changed != null">
        changed = #{changed,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>