<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lockbur.trackr.mapper.RoleMapper">

    <sql id="Base_Column_List">
        id,name,description,creator_id,create_time,update_time
    </sql>


    <insert id="insert" parameterType="com.lockbur.trackr.domain.Role" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO tb_role
        (
          name,description,creator_id,create_time,update_time
        )
        VALUES
        (
         #{name}, #{description},#{creatorId},now(),now()
        )
    </insert>

    <!-- 通过用户ID查询对应角色 -->
    <select id="findRolesByDepartmentId" resultType="com.lockbur.trackr.domain.Role">
        SELECT
         tr.*
        FROM tb_role tr
        INNER JOIN department_role dept ON tr.id = tar.role_id
        WHERE dept.deparment_id = #{departmentId}
    </select>

    <select id="findById" resultType="com.lockbur.trackr.domain.Role">
        SELECT
        tr.*
        FROM
         tb_role tr
        WHERE
        tr.id=#{id}
    </select>

    <update id="update" parameterType="com.lockbur.trackr.domain.Role">
        UPDATE
        tb_role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            update_time = now()
        </set>
        WHERE
        id = #{id}
    </update>

    <!--分页使用 findByPage-->
    <select id="findByPage" resultType="com.lockbur.trackr.domain.Role" parameterType="com.lockbur.trackr.rest.Pageable"
            statementType="PREPARED">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_role
        <if test="filters!=null and filters.size>0">
            <where>
                <foreach collection="filters" index="index" item="filter" separator=" ">
                    <choose>
                        <when test="filter.operator.key=='in'">
                            ${filter.property} ${filter.operator.key}
                            <foreach collection="filter.value" index="valueIndex" item="value" open="(" separator=","
                                     close=")">
                                ${value}
                            </foreach>
                        </when>
                        <otherwise>
                            <foreach collection="filters" index="index" item="filter" open="" separator="and" close="">
                                ${filter.property} ${filter.operator.key} #{filter.value}
                            </foreach>
                        </otherwise>
                    </choose>
                </foreach>
            </where>
        </if>
        <if test="sorts!=null and sorts.size>0">
            <foreach collection="sorts" item="sort" open="order by " separator="," close=" ">
                ${sort.property} ${sort.direction}
            </foreach>
        </if>
        LIMIT ${pageNow},${pageSize}
    </select>

    <select id="countByPage" resultType="long" parameterType="com.lockbur.trackr.rest.Pageable" statementType="PREPARED">
        SELECT
        count(id)
        FROM tb_role
        <if test="filters!=null and filters.size>0">
            <where>
                <foreach collection="filters" index="index" item="filter" separator=" ">
                    <choose>
                        <when test="filter.operator.key=='in'">
                            ${filter.property} ${filter.operator.key}
                            <foreach collection="filter.value" index="valueIndex" item="value" open="(" separator=","
                                     close=")">
                                ${value}
                            </foreach>
                        </when>
                        <otherwise>
                            <foreach collection="filters" index="index" item="filter" open="" separator="and" close="">
                                ${filter.property} ${filter.operator.key} #{filter.value}
                            </foreach>
                        </otherwise>
                    </choose>
                </foreach>
            </where>
        </if>
    </select>
    <!--//END 分页使用 findByPage-->

</mapper>